* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

.profile-img {
  width: 120px;
  height: 60px; 
  object-fit: cover;
  border: 4px solid #fff;
  margin-bottom: 15px;
  
}


.about,
.skills,
.contact {
  background-color: #fff;
  margin: 20px 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007BFF;
  margin-bottom: 15px;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills li {
  background: #007BFF;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
}

.contact a {
  color: #007BFF;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-top: 40px;
}
